flows.json
[{"id":"32aaf85e.a58598","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"10e6ce9a.be76b1","type":"tab","label":"Sensor Input Handling","disabled":false,"info":""},{"id":"2098dd53.de8852","type":"websocket-listener","z":"","path":"/ws/dashboard","wholemsg":"true"},{"id":"a488435d.35dde","type":"websocket-client","z":"","path":"ws://node-red-ipt-session.eu-gb.mybluemix.net/ws/dashboard","tls":"","wholemsg":"true"},{"id":"d05248e9.c86cf8","type":"ui_tab","z":"","name":"IPT - HACKATHON","icon":"dashboard"},{"id":"9fb6320.3a42bd","type":"ui_group","z":"","name":"Temperature & Humidity Sensor","tab":"d05248e9.c86cf8","order":2,"disp":true,"width":"12","collapse":false},{"id":"8514443c.7b0308","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#c60000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#c60000","edited":true},"page-titlebar-backgroundColor":{"value":"#c60000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff1313","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#c60000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58153d1f.268164","type":"ui_group","z":"","name":"Light Control","tab":"d05248e9.c86cf8","order":1,"disp":true,"width":"10","collapse":false},{"id":"d7378205.e5c1a","type":"ibmiot in","z":"10e6ce9a.be76b1","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":120,"wires":[["c16f883d.c39378","f5298729.748b28","dbee217c.3d18c"]]},{"id":"c16f883d.c39378","type":"debug","z":"10e6ce9a.be76b1","name":"device data","active":false,"console":"false","complete":"true","x":370,"y":120,"wires":[]},{"id":"f5159f74.bcf49","type":"comment","z":"10e6ce9a.be76b1","name":"mqtt Watson IOT event listener","info":"","x":150,"y":80,"wires":[]},{"id":"f5298729.748b28","type":"function","z":"10e6ce9a.be76b1","name":"eventType switch","func":"switch(msg.eventType) {\n    case 'update-ldata':\n        return [msg,null]\n        break;\n    case 'update-dht':\n        return[null,msg]\n        break;\n\n}\n","outputs":2,"noerr":0,"x":390,"y":167.00000190734863,"wires":[["add26879.9f60d8"],["40934306.072c3c"]],"icon":"node-red/switch.png"},{"id":"add26879.9f60d8","type":"cloudant out","z":"10e6ce9a.be76b1","name":"insert ldata","cloudant":"","database":"ldata","service":"node-red-ipt-session-cloudantNoSQLDB","payonly":true,"operation":"insert","x":647.0000076293945,"y":161.00000190734863,"wires":[]},{"id":"40934306.072c3c","type":"cloudant out","z":"10e6ce9a.be76b1","name":"insert dht","cloudant":"","database":"dht","service":"node-red-ipt-session-cloudantNoSQLDB","payonly":false,"operation":"insert","x":637.0000076293945,"y":207.00000190734863,"wires":[]},{"id":"dbee217c.3d18c","type":"websocket out","z":"10e6ce9a.be76b1","name":"socket out","server":"","client":"a488435d.35dde","x":370,"y":300,"wires":[]},{"id":"c2e3b212.da4f5","type":"comment","z":"32aaf85e.a58598","name":"websocket in ","info":"","x":110,"y":60,"wires":[]},{"id":"3d471f6d.aefad","type":"websocket in","z":"32aaf85e.a58598","name":"socket in","server":"2098dd53.de8852","client":"","x":100,"y":120,"wires":[["e20c1956.ce3d88","959aa124.fc1c1"]]},{"id":"e20c1956.ce3d88","type":"function","z":"32aaf85e.a58598","name":"eventType switch","func":"switch(msg.eventType) {\n    case 'update-ldata':\n        return [msg,null]\n        break;\n    case 'update-dht':\n        return [null,msg]\n        break;\n\n}\n","outputs":2,"noerr":0,"x":290,"y":120,"wires":[["4e90526b.d57eac","d2f68695.2bc218"],["af8abae7.987ba8","c5b2102b.b30ae","103e68da.dea897"]],"icon":"node-red/switch.png"},{"id":"af8abae7.987ba8","type":"ui_gauge","z":"32aaf85e.a58598","name":"temperature","group":"9fb6320.3a42bd","order":2,"width":"6","height":"5","gtype":"gage","title":"temperature","label":"ºC","format":"{{msg.payload.d.temp}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":830,"y":260,"wires":[]},{"id":"c5b2102b.b30ae","type":"ui_gauge","z":"32aaf85e.a58598","name":"humidity","group":"9fb6320.3a42bd","order":3,"width":"6","height":"5","gtype":"gage","title":"humidity","label":"%","format":"{{msg.payload.d.humid}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":820.0000190734863,"y":302.0000114440918,"wires":[]},{"id":"a01dd2d0.c86b3","type":"ui_chart","z":"32aaf85e.a58598","name":"","group":"9fb6320.3a42bd","order":1,"width":"12","height":"5","label":"temperature over time","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860.9999885559082,"y":339.9999809265137,"wires":[[],[]]},{"id":"103e68da.dea897","type":"change","z":"32aaf85e.a58598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":340,"wires":[["a01dd2d0.c86b3"]]},{"id":"959aa124.fc1c1","type":"debug","z":"32aaf85e.a58598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":160,"wires":[]},{"id":"3d188a8e.dd0ec6","type":"inject","z":"32aaf85e.a58598","name":"reset chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":400,"wires":[["a01dd2d0.c86b3"]]},{"id":"5feb5464.7104ac","type":"ui_text","z":"32aaf85e.a58598","group":"58153d1f.268164","order":2,"width":0,"height":0,"name":"last change","label":"Last Change:","format":"{{msg.payload.d.timestamp}}","layout":"row-spread","x":830,"y":160,"wires":[]},{"id":"4e90526b.d57eac","type":"ui_text","z":"32aaf85e.a58598","group":"58153d1f.268164","order":1,"width":0,"height":0,"name":"light state","label":"Light State:","format":"{{msg.payload.d.state}}","layout":"row-spread","x":820,"y":115,"wires":[]},{"id":"d2f68695.2bc218","type":"function","z":"32aaf85e.a58598","name":"readable date","func":"let date = new Date(msg.payload.d.timestamp)\nlet rdate = date.toUTCString()\n\nmsg.payload.d.timestamp = rdate\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["5feb5464.7104ac"]]},{"id":"8095c168.825ec","type":"comment","z":"10e6ce9a.be76b1","name":"socket out - dashboard","info":"","x":400,"y":260,"wires":[]}]